@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
body {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

header {
    text-align: center;
    font-size: 20pt;
}

.header-title {
    font-family: 'Dancing Script', cursive;
    font-size: 3vw;
    font-weight: bold;
    color: white;
}

header h1 img {
    display: block;
}

.generate {
    text-align: center;
    margin-bottom: 20px;
}

button:hover {
    background-color: black;
}

header h1 {
    font-size: 20pt;
}

.chip:hover {
    cursor: pointer;
}

.selected-skill {
    background-color: grey;
}

.tec-div {
    padding: 20px;
}

.tec-div h6 {
    font-size: large;
    padding-top: 100px;
    padding-bottom: 10px;
    font-weight: bold;
}

.chip img {
    padding: 5px;
}

.header-div {
    margin-bottom: 50px;
}